/* Global button styles */
.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.8em 1.2em;
  color: #fff;

  border: 0 none;
  border-radius: 3px;

  transition: 0.3s ease-out;

  font-size: 1em;
}

.button:hover {
  cursor: pointer;
}

a.button {
  text-decoration: none;
}

/* Primary variant */
.button.primary {
  background-color: #2563eb;
}

.button.primary:hover {
  background-color: #3b82f6;
}

/* Secondary variant */
.button.secondary {
}

/* Danger variant */
.button.danger {
  background-color: #dc2626;
}

.button.danger:hover {
  background-color: #ef4444;
}
