/* Wrapper */
.wrapper {
  padding: 3em 1em;
  height: 100%;
  width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #1f1d2c;

  transition: width .3s ease-out;
}

.wrapper:hover {
  width: 250px;
}

.wrapper:hover .menu li {
  padding: 1em 2em;
}

.wrapper:hover .menu li a {
  justify-content: flex-start;
}

.wrapper:hover .menu li span {
  opacity: 1;
  width: auto;
  height: auto;
  transition: opacity .3s, margin-left .3s ease-out;
  margin-left: .5em;
}

.wrapper:hover .user {
  justify-content: space-between;
  padding: 1em 2em;
}

.wrapper:hover .user span {
  opacity: 1;
  width: auto;
  height: auto;
  margin-left: .5em;
  transition: opacity .3s, margin-left .3s ease-out;
}

.wrapper:hover .disconnect {
  opacity: 1;
  width: auto;
  height: auto;
  transition: opacity .3s ease-out;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;

  margin-bottom: 3em;
}

.logo > h2 {
  color: #fff;
}

/* Menu */
.menu {
  list-style: none;
}

.menu li {
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 6px;
  text-align: center;
}

.menu li > a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu li > a > :first-child {
  width: 20px;
}

.menu li span {
  display: block;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0s, margin-left 0s ease-out;
  margin-left: 0;
}

.menu li.active {
  background-color: #262837;
}

.menu li.active > a {
  color: #2563eb;
}

/* User */
.user {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1em;

  background-color: #262837;
  border-radius: 6px;
}

.user > div:first-child {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user span {
  display: block;
  color: #fff;
  margin-left: 0;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0s, margin-left 0s ease-out;
}

.user > div:last-child span {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s ease-out;
}

.user > div:last-child:hover span {
  background-color: #51535f;
  cursor: pointer;
}

/* Disconnect */
.disconnect {
  color: rgba(255, 255, 255, .7);
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0s, margin-left 0s, color 0.3s ease-out;
}

.disconnect:hover {
  color: #fff;
}